/.cache/
/.xmake/
/.vscode/
/build/
/include/cosmocore/cosmocore_version.hpp
/src/cosmocore/cosmocore_config.hpp
/src/cosmovm/cosmovm_version.hpp
/src/cosmovm/cosmovm_config.hpp
/compile_commands.json
/wrapper.sh